doctype html
html(lang='en')
    head

        title Gallery



        include ./head.pug
        link(href='/css/gallery-materialize.css', rel='stylesheet')
        link(href='/css/gallery.css', rel='stylesheet')


    body
        include ./menu.pug

        main
            .parallax-container.valign-wrapper#particle-footer(style='height:80vh')
                .parallax
                    img.active(src='/images/gallery.jpg', alt='control room', style='filter: brightness(50%)')
                    h1.center.white-text(style='font-size:6em; font-weight:bold;margin-top:30vh;letter-spacing:15px;') Form. Space. Architecture.

            #portfolio.section.gray
                .gallery.row
                    .col.l4.m6.s12.gallery-item.gallery-expand
                        .gallery-curve-wrapper
                            a.gallery-cover.gray
                                img.responsive-img(src='/images/projects/dhawale/Model1.jpg', alt='project', style='z-index:999')
                            .gallery-body
                                .title-wrapper
                                    h3 Residential Project
                                    span.price 2.5 Cr.
                                h5 Owner Dr. Subhash Dhawale
                                p.description hgwiuytyqruieqywruyqeiuweyqwyeiuqwyhgwiuytyqruieqywruyqeiuweyqwyeiuqwyhgwiuytyqruieq | ywruyqeiu weyqwye iuqwyhgwiuy tyqruieqywruyqeiuweyqw yeiuqwyhgwiuytyqru ieqywruyqeiuwe yqwyeiuqwyhgwiuytyqruieqywruy qeiuweyqwyeiuqw yhgwiuytyqrui eqywruyqeiuw eyqwyeiuqwy hgwiuyty qruie qywruyqei uweyqwyeiu qwyhgwiuytyqr uieqywruyqeiu weyqwyeiuqwy

                                .carousel-wrapper
                                            .carousel
                                                a.carousel-item(href='#one!')
                                                    img.materialboxed(src='/images/projects/dhawale/Model2.jpg')
                                                a.carousel-item(href='#two!')
                                                    img.materialboxed(src='/images/projects/dhawale/Model3.jpg')
                                                a.carousel-item(href='#three!')
                                                    img.materialboxed(src='/images/projects/dhawale/Model2.jpg')
                                                a.carousel-item(href='#four!')
                                                    img.materialboxed(src='/images/projects/dhawale/Model3.jpg')
                                                a.carousel-item(href='#five!')
                                                    img.materialboxed(src='/images/projects/dhawale/Model2.jpg')
                                                a.carousel-item(href='#six!')
                                                    img.materialboxed(src='/images/projects/dhawale/Model3.jpg')

                    .col.l4.m6.s12.gallery-item.gallery-expand
                        .gallery-curve-wrapper
                            a.gallery-cover.gray
                                img.responsive-img(src='/images/projects/dhawale/Model1.jpg', alt='project')
                            .gallery-body
                                .title-wrapper
                                    h3 Residential Project
                                    span.price 2.5 Cr.
                                h5 Owner Dr. Subhash Dhawale
                                p.description hgwiuytyqruieqywruyqeiuweyqwyeiuqwyhgwiuytyqruieqywruyqeiuweyqwyeiuqwyhgwiuytyqruieq | ywruyqeiu weyqwye iuqwyhgwiuy tyqruieqywruyqeiuweyqw yeiuqwyhgwiuytyqru ieqywruyqeiuwe yqwyeiuqwyhgwiuytyqruieqywruy qeiuweyqwyeiuqw yhgwiuytyqrui eqywruyqeiuw eyqwyeiuqwy hgwiuyty qruie qywruyqei uweyqwyeiu qwyhgwiuytyqr uieqywruyqeiu weyqwyeiuqwy
                    .col.l4.m6.s12.gallery-item.gallery-expand
                        .gallery-curve-wrapper
                            a.gallery-cover.gray
                                img.responsive-img(src='/images/projects/dhawale/Model1.jpg', alt='project')
                            .gallery-body
                                .title-wrapper
                                    h3 Residential Project
                                    span.price 2.5 Cr.
                                h5 Owner Dr. Subhash Dhawale
                                p.description hgwiuytyqruieqywruyqeiuweyqwyeiuqwyhgwiuytyqruieqywruyqeiuweyqwyeiuqwyhgwiuytyqruieq | ywruyqeiu weyqwye iuqwyhgwiuy tyqruieqywruyqeiuweyqw yeiuqwyhgwiuytyqru ieqywruyqeiuwe yqwyeiuqwyhgwiuytyqruieqywruy qeiuweyqwyeiuqw yhgwiuytyqrui eqywruyqeiuw eyqwyeiuqwy hgwiuyty qruie qywruyqei uweyqwyeiu qwyhgwiuytyqr uieqywruyqeiu weyqwyeiuqwy

            #portfolio.section.gray
                .gallery.row

                    each project in projects
                        .col.l4.m6.s12.gallery-item.gallery-expand
                            .gallery-curve-wrapper
                                a.gallery-cover.gray
                                    img.responsive-img(src='/project/image/'+project.id, alt='project')
                                .gallery-body
                                    .title-wrapper
                                        h3 #{project.name}
                                        span.price #{project.cost}
                                        p Finished on #{project.dateformatted}
                                    h5 Owner #{project.owner}
                                    p Homepage:
                                        a(href=project.url) #{project.url}
                                    p.description #{project.description}



                                //- .gallery-action
                                    a.btn-floating.btn-large.waves-effect.waves-light
                                        i.material-icons favorite

                    else
                        p.col.s12.center There are no projects.



        include ./footer.pug

        script(src='/js/materialize-old.js')

        script(src='/js/imagesloaded.pkgd.min.js')
        script(src='/js/masonry.pkgd.min.js')
        script(src='/js/color-thief.min.js')
        script(src='/js/galleryExpand.js')

        script(src='/js/init.js')
