doctype html
html(lang='en')
    head
        
        title Gallery

        
        
        include ./head.pug
        link(href='/css/gallery-materialize.css', rel='stylesheet') 
        link(href='/css/gallery.css', rel='stylesheet') 


    body
        include ./menu.pug

        main
            .parallax-container.valign-wrapper(style='min-height:400px')
                .parallax
                    img.active(src='/images/trial.jpg', alt='control room')
                .container
                    h1.center.white-text Room of Art

            #portfolio.section.gray
                .gallery.row

                    each project in projects
                        .col.l4.m6.s12.gallery-item.gallery-expand
                            .gallery-curve-wrapper
                                a.gallery-cover.gray
                                    img.responsive-img(src=project.imageurl, alt='project')
                                .gallery-body
                                    .title-wrapper
                                        h3 #{project.name}
                                        span.price #{project.cost}
                                        p Finished on #{project.date}
                                    h5 Owner #{project.owner}
                                    p Homepage: 
                                        a(href=project.url) #{project.url}
                                    p.description #{project.description}
                                        
                                        //- .carousel-wrapper
                                            .carousel
                                                a.carousel-item(href='#one!')
                                                    img(src='http://placehold.it/300x200')
                                                a.carousel-item(href='#two!')
                                                    img(src='http://placehold.it/300x200')
                                                a.carousel-item(href='#three!')
                                                    img(src='http://placehold.it/300x200')
                                                a.carousel-item(href='#four!')
                                                    img(src='http://placehold.it/300x200')
                                                a.carousel-item(href='#five!')
                                                    img(src='http://placehold.it/300x200')
                                
                                //- .gallery-action
                                    a.btn-floating.btn-large.waves-effect.waves-light
                                        i.material-icons favorite
                    


        include ./footer.pug

        script(src='/js/materialize-old.js')

        script(src='/js/imagesloaded.pkgd.min.js')
        script(src='/js/masonry.pkgd.min.js')
        script(src='/js/color-thief.min.js')
        script(src='/js/galleryExpand.js')

        script(src='/js/init.js')
