doctype html
html
    head
        title SpArc Shop
        include ./head.pug
    body
        include ./menu.pug

        main
            h3.center Shop

            .container.shop
                .row
                    each product in products
                        .col.s12.m6.l4.shop-item

                            .card.z-depth-2.hoverable
                                .card-image
                                    //- img(src=product.images, alt='product image')
                                    img.materialboxed(src=product.imageurl, alt='product image')
                                    span.card-title #{product.name}

                                .card-content
                                    p #{product.description}

                                .card-action
                                    a.btn-flat.teal.lighten-2.white-text(href='javascript:enquire("'+product.id+'");') Rs #{product.cost}
                        

                    else
                        p There are no products.

        include ./footer.pug
        script(src='/js/masonry.pkgd.min.js')
        script(type='text/javascript', src='/js/shop.js')
